@model RuterApp.Models.RuterViewModel
<section class="container">
    <div class="this-station">
        <div class="stations-text">@Model.Station.Name </div>
    </div>
     @if(Model.FirstDeparture.DepartureExists)
     {
    <div class="departure1">
        <div class="end-station">Bergkrystallen via Majorstuen</div>
        <div class="minutes">
           
            @if (@Model.FirstDeparture.getMinutes() == "ingen")
            {
                <span class="no-departure">60+ min</span>
            }  
            else if (@Model.FirstDeparture.getMinutes() == "NÅ")
            {
               <span class="minutes-text">NÅ</span>
            }         
            else 
            {
                @Model.FirstDeparture.getMinutes()<span class="minutes-text">min</span>
            }
  
          
       </div>       
    </div>
     }

    @if (Model.SecondDeparture.DepartureExists)
    { 
        <div class="departure2">
            <divp class="end-station">@Model.SecondDeparture.LineName
        </div>
        <div class="minutes">

            @if (@Model.SecondDeparture.getMinutes() == "ingen")
            {
                <span class="no-departure">60+ min</span>
            }
            else if (@Model.SecondDeparture.getMinutes() == "NÅ")
            {
                <span class="minutes-text">NÅ</span>
            }   
            else
            {
                @Model.SecondDeparture.getMinutes()<span class="minutes-text">min</span>
            }
        </div>
    }

    @*This is my test div*@
    <div class="minutes">

            <span class="no-departure">@Model.StationName</span>

    </div>

</section>