@model RuterApp.Models.DepartureViewModel
<section class="container">

    <div class="this-station">
        <div class="stations-text">@Model.StationName </div>
    </div>

        <div class="departure1">
            <div class="end-station">@Model.LineAndDeparture[0].Item1</div>
            <div class="minutes">

                @if (@Model.LineAndDeparture[0].Item2 == "ingen")
                {
                    <span class="no-departure">60+ min</span>
                }
                else if (@Model.LineAndDeparture[0].Item2 == "NÅ")
                {
                    <span class="minutes-text">NÅ</span>
                }
                else
                {
                    @Model.LineAndDeparture[0].Item2<span class="minutes-text">min</span>
                }


            </div>
        </div>
  

    <div class="departure1">
        <div class="end-station">@Model.LineAndDeparture[1].Item1</div>
        <div class="minutes">

            @if (@Model.LineAndDeparture[1].Item2 == "ingen")
            {
                <span class="no-departure">60+ min</span>
            }
            else if (@Model.LineAndDeparture[1].Item2 == "NÅ")
            {
                <span class="minutes-text">NÅ</span>
            }
            else
            {
                @Model.LineAndDeparture[1].Item2<span class="minutes-text">min</span>
            }


        </div>
    </div>





</section>